*{
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container{
    display: flex;
    width: 80vw;
}

.container .panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
    color: #fff;
    position: relative;

    flex: 0.5;
    transition: flex 0.7s ease-in;
    
}

.panel h3{
    font-size: 1.5rem;
    position: absolute;
    bottom: 20px;
    left: 40px;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
}

@media(max-width : 500px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(5) , .panel:nth-of-type(6){
        display: none;
    }
}